@import './modules/normalize-scss-7.0.0/sass/normalize/import-now';
@import './selectric';

$desktop: 1218px;
$tablet: 768px;
$mobile: 370px;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

table {
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
}

.eurobonds {
  position: relative;
  padding: 51px 0;
  margin: 51px auto 3px auto;
  background: #222026;
  color: #fff;

  @media(min-width: $desktop) {
    padding: 51px;
  }

  &__title {
    font-size: em(42);
    line-height: 1;
    padding: 0 15px;
    margin-bottom: 24px;

    @media(min-width: $desktop) {
      padding: 0;
    }
  }

  &__subheader {
    display: inline-block;
    font-size: em(42);
    line-height: 1;
    margin-bottom: 25px;
    padding: 0 15px;
    cursor: pointer;

    &--active {
      img {
        transform: rotateX(180deg);
      }
    }

    @media(min-width: $tablet) {
      margin-bottom: 35px;
    }
    @media(min-width: $desktop) {
      padding: 0;
    }
  }

  &__icon-arrow {
    margin-left: 10px;
  }

  &__tabs {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 15px;
    margin-bottom: 25px;

    @media(min-width: $desktop) {
      padding: 0;
    }
  }

  &__leverages {
    display: flex;
  }

  &__leverage {
    font-size: em(18);
    padding: 16px 15px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-right: 0;

    &--active {
      background: rgba(255,255,255,.1);
    }

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
      border-right: 1px solid rgba(255, 255, 255, .2);
    }
  }

  &__currencies {
    margin-left: 10px;
    display: flex;

    @media(min-width: $tablet) {
      margin-left: 25px;
    }
  }
  &__currency {
    font-size: em(24);
    padding: 13px 18px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .2);
    border-right: 0;

    &--active {
      background: rgba(255,255,255,.1);
    }

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid rgba(255, 255, 255, .2);
    }
  }
}

.eurobonds-desk-wrapper {
  width: 100%;
  overflow: auto;
  margin-bottom: 50px;
}

// primary table
.eurobonds-desk {
  display: block;
  width: 1069px;
  font-size: 13px;

  &--empty {
    border-collapse: separate;
  }

  &__header {
    display: block;
  }

  &__head-cell {
    position: relative;
    padding: 20px 7px;
    border: 1px solid #979797;
    width: 104px;
    cursor: pointer;
    font-weight: 300;

    &--small {
      width: 95px;
    }

    &:nth-child(1) {
      width: 205px;
    }
    &:nth-child(2) {
      width: 145px
    }
  }

  &__head-text {
    border-bottom: 1px dashed #979797;
  }

  &__body {
    display: block;
    overflow: auto;
    max-height: 719px;
  }

  &__body-row {
    height: 82px;

    &:hover {
      background-color: #2b292f;
      border: solid 1px #677076;
    }
  }

  &__body-cell {
    word-break: break-word;
    position: relative;
    border: 1px dashed #979797;
    padding: 0 10px;
    padding-bottom: 7px;
    width: 104px;
    text-align: center;

    &:nth-child(1) {
      width: 205px;
    }
    &:nth-child(2) {
      width: 145px;
    }
    &:nth-child(3) {
      width: 95px;
    }
    &:nth-child(5) {
      width: 95px;
    }
    &:nth-child(6) {
      width: 95px;
    }
  }

  &__company-cell {
    display: flex;
    align-items: center;
  }

  &__title {
    padding-left: 9px;
  }

  &__overlay {
    position: absolute;
    left: 14px;
    padding-top: 15px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: none;
    color: #fff;

    tr.active & {
      display: block;
      background: rgba(193, 47, 50, 0.9);
    }
  }

  &__dynamic {
    &--up {
      color: #69862d;

      &:after {
        content: '';
        position: absolute;
        bottom: 25px;
        right: 45%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 7px solid #69862d;
      }
    }

    &--down {
      color: #f4152a;

      &:after {
        content: '';
        position: absolute;
        bottom: 25px;
        right: 45%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid #f4152a;
      }
    }
  }

  &__placeholder {
    font-size: em(28);
    font-weight: 200;
    text-align: center;
    line-height: 1.25;
  }
}

// secondary table
.eurobonds-computations {
  position: relative;

  .active {
    background-color: #3a1a1c;
  }

  &__table {
    display: block;
    width: 1069px;
    font-size: 13px;
  }

  &__table-wrapper {
    width: 100%;
    overflow: auto;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__body-cell {
    position: relative;
    padding: 20px 15px;
    border: 1px dashed #979797;
    text-align: center;
  }
  &__head-cell {
    position: relative;
    padding: 20px 15px;
    border: 1px solid #979797;
    cursor: pointer;
    font-weight: 300;
  }

  &__head-text {
    border-bottom: 1px dashed #979797;
  }

  &__summary-placeholder {
    height: 16px;
  }

  &__summary-row {
  }

  &__summary-cell {
    padding: 28px 15px;
    text-align: center;
    background-color: #534e5b;
    border-right: solid 1px #222026;
  }

  &__form {
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    padding: 0 15px;

    @media (min-width: $tablet) {
      flex-flow: row;
    }
    @media (min-width: $desktop) {
      padding: 0;
    }

    &-label {
      margin-bottom: 8px;
    }

    &-group {
      display: flex;
      flex-flow: column;
      margin-right: 10px;
      margin-bottom: 8px;
    }
  }

  &__select {
    font-size: 16px;
    padding: 14px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    border: 1px solid #7c7c7c;

    &:after {
      color: rgba(0,0,0,.6);
    }
  }

  &__amount {
    align-self: flex-start;
    font-size: 16px;
    padding: 15px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #7c7c7c;
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f42815;
    border-radius: 3px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-align: center;
    color: #fff;
    height: 51px;
    padding: 15px 34px;
    background: #a92d24;
    background: rgba(225,49,33,.7);
    color: #fff;
    text-shadow: none;

    @media (min-width: $tablet) {
      margin-top: 17px;
      align-self: center;
    }
  }

  &__tools {
    display: flex;
    flex-flow: column;

    @media (min-width: $tablet) {
      flex-flow: row;
    }
  }

  &__link {
    border: 1px solid #7c7c7c;
    font-size: em(18);
    height: 52px;
    padding: 12px 0 0 20px;
    border-radius: 3px;
    margin: 0 15px;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      min-width: 240px;
      margin-bottom: 0;
    }

    img {
      margin-right: 20px;
    }
  }

  &__delete-btn {
    position: absolute;
    right: 10px;
    bottom: 30px;
    border: 0;
    z-index: 1;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 52px;
    width: 52px;
    background-color: #c12f32;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    text-align: center;

    @media(min-width: $tablet) {
      bottom: 0;
    }
  }
}


.computation-option {
  font-size: em(16);
  color: rgba(0,0,0, .5);

  &:hover {
    color: rgba(0,0,0, 1);
  }
}

.selectric-eurobonds-computations__select {
  width: 100%;

  @media (min-width: $tablet) {
    width: 250px;
  }
}


.sort-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 0;
  height: 0;

  &--asc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 9px;
    border-bottom: 5px solid gray;
  }
  &--desc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid gray;
  }
  &--active {
    border-bottom-color: red;
    border-top-color: red;
  }
}
