/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

.selectric-wrapper {
  position: relative;
  cursor: pointer; }

.selectric-responsive {
  width: 100%; }

.selectric {
  border: 1px solid #7c7c7c;
  border-radius: 3px;
  background: transparent;
  position: relative;
  overflow: hidden;
  color: #fff; }
  .selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 48px 0 10px;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    user-select: none; }
  .selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: transparent;
    color: #BBB;
    text-align: center;
    font: 0/0 a;
    *font: 20px/48px Lucida Sans Unicode, Arial Unicode MS, Arial; }
    .selectric .button:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #BBB;
      border-bottom: none; }

.selectric-focus .selectric {
  border-color: #494949; }

.selectric-hover .selectric {
  border-color: #636363; }
  .selectric-hover .selectric .button {
    color: #a2a2a2; }
    .selectric-hover .selectric .button:after {
      border-top-color: #a2a2a2; }

.selectric-open {
  z-index: 9999;
  background-color: #fff;
  color: #000;
  border-radius: 3px 3px 0 0; }
  .selectric-open .selectric {
    border-color: transparent;
    color: #000; }
  .selectric-open .selectric-items {
    display: block;
    background-color: #fff;
    box-shadow: #eaeaea 0px 1px 0px 0px inset; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }
  .selectric-hide-select select {
    position: absolute;
    left: -100%; }
  .selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .selectric-hide-select.selectric-is-native select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  z-index: -1;
  box-shadow: 0 0 10px -6px; }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto; }
  .selectric-above .selectric-items {
    top: auto;
    bottom: 100%; }
  .selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px; }
  .selectric-items li {
    display: block;
    padding: 10px;
    color: #666;
    cursor: pointer; }
    .selectric-items li.selected {
      color: #444; }
    .selectric-items li.highlighted {
      color: #444; }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none; }
  .selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    user-select: none;
    background: none;
    color: #444; }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1; }
  .selectric-items .selectric-group li {
    padding-left: 25px; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  display: none !important; }

table {
  border-collapse: collapse; }

table {
  border-collapse: collapse; }

.eurobonds {
  position: relative;
  padding: 51px 0;
  margin: 51px auto 3px auto;
  background: #222026;
  color: #fff; }
  @media (min-width: 1218px) {
    .eurobonds {
      padding: 51px; } }
  .eurobonds__title {
    font-size: em(42);
    line-height: 1;
    padding: 0 15px;
    margin-bottom: 24px; }
    @media (min-width: 1218px) {
      .eurobonds__title {
        padding: 0; } }
  .eurobonds__subheader {
    display: inline-block;
    font-size: em(42);
    line-height: 1;
    margin-bottom: 25px;
    padding: 0 15px;
    cursor: pointer; }
    .eurobonds__subheader--active img {
      transform: rotateX(180deg); }
    @media (min-width: 768px) {
      .eurobonds__subheader {
        margin-bottom: 35px; } }
    @media (min-width: 1218px) {
      .eurobonds__subheader {
        padding: 0; } }
  .eurobonds__icon-arrow {
    margin-left: 10px; }
  .eurobonds__tabs {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 15px;
    margin-bottom: 25px; }
    @media (min-width: 1218px) {
      .eurobonds__tabs {
        padding: 0; } }
  .eurobonds__leverages {
    display: flex; }
  .eurobonds__leverage {
    font-size: em(18);
    padding: 16px 15px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 0; }
    .eurobonds__leverage--active {
      background: rgba(255, 255, 255, 0.1); }
    .eurobonds__leverage:first-of-type {
      border-radius: 3px 0 0 3px; }
    .eurobonds__leverage:last-of-type {
      border-radius: 0 3px 3px 0;
      border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .eurobonds__currencies {
    margin-left: 10px;
    display: flex; }
    @media (min-width: 768px) {
      .eurobonds__currencies {
        margin-left: 25px; } }
  .eurobonds__currency {
    font-size: em(24);
    padding: 13px 18px;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 0; }
    .eurobonds__currency--active {
      background: rgba(255, 255, 255, 0.1); }
    .eurobonds__currency:first-of-type {
      border-radius: 5px 0 0 5px; }
    .eurobonds__currency:last-of-type {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid rgba(255, 255, 255, 0.2); }

.eurobonds-desk-wrapper {
  width: 100%;
  overflow: auto;
  margin-bottom: 50px; }

.eurobonds-desk {
  display: block;
  width: 1069px;
  font-size: 13px; }
  .eurobonds-desk--empty {
    border-collapse: separate; }
  .eurobonds-desk__header {
    display: block; }
  .eurobonds-desk__head-cell {
    position: relative;
    padding: 20px 7px;
    border: 1px solid #979797;
    width: 104px;
    cursor: pointer;
    font-weight: 300; }
    .eurobonds-desk__head-cell--small {
      width: 95px; }
    .eurobonds-desk__head-cell:nth-child(1) {
      width: 205px; }
    .eurobonds-desk__head-cell:nth-child(2) {
      width: 145px; }
  .eurobonds-desk__head-text {
    border-bottom: 1px dashed #979797; }
  .eurobonds-desk__body {
    display: block;
    overflow: auto;
    max-height: 719px; }
  .eurobonds-desk__body-row {
    height: 82px; }
    .eurobonds-desk__body-row:hover {
      background-color: #2b292f;
      border: solid 1px #677076; }
  .eurobonds-desk__body-cell {
    word-break: break-word;
    position: relative;
    border: 1px dashed #979797;
    padding: 0 10px;
    padding-bottom: 7px;
    width: 104px;
    text-align: center; }
    .eurobonds-desk__body-cell:nth-child(1) {
      width: 205px; }
    .eurobonds-desk__body-cell:nth-child(2) {
      width: 145px; }
    .eurobonds-desk__body-cell:nth-child(3) {
      width: 95px; }
    .eurobonds-desk__body-cell:nth-child(5) {
      width: 95px; }
    .eurobonds-desk__body-cell:nth-child(6) {
      width: 95px; }
  .eurobonds-desk__company-cell {
    display: flex;
    align-items: center; }
  .eurobonds-desk__title {
    padding-left: 9px; }
  .eurobonds-desk__overlay {
    position: absolute;
    left: 14px;
    padding-top: 15px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: none;
    color: #fff; }
    tr.active .eurobonds-desk__overlay {
      display: block;
      background: rgba(193, 47, 50, 0.9); }
  .eurobonds-desk__dynamic--up {
    color: #69862d; }
    .eurobonds-desk__dynamic--up:after {
      content: '';
      position: absolute;
      bottom: 25px;
      right: 45%;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 7px solid #69862d; }
  .eurobonds-desk__dynamic--down {
    color: #f4152a; }
    .eurobonds-desk__dynamic--down:after {
      content: '';
      position: absolute;
      bottom: 25px;
      right: 45%;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid #f4152a; }
  .eurobonds-desk__placeholder {
    font-size: em(28);
    font-weight: 200;
    text-align: center;
    line-height: 1.25; }

.eurobonds-computations {
  position: relative; }
  .eurobonds-computations .active {
    background-color: #3a1a1c; }
  .eurobonds-computations__table {
    display: block;
    width: 1069px;
    font-size: 13px; }
  .eurobonds-computations__table-wrapper {
    width: 100%;
    overflow: auto;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .eurobonds-computations__table-wrapper {
        margin-bottom: 40px; } }
  .eurobonds-computations__body-cell {
    position: relative;
    padding: 20px 15px;
    border: 1px dashed #979797;
    text-align: center; }
  .eurobonds-computations__head-cell {
    position: relative;
    padding: 20px 15px;
    border: 1px solid #979797;
    cursor: pointer;
    font-weight: 300; }
  .eurobonds-computations__head-text {
    border-bottom: 1px dashed #979797; }
  .eurobonds-computations__summary-placeholder {
    height: 16px; }
  .eurobonds-computations__summary-cell {
    padding: 28px 15px;
    text-align: center;
    background-color: #534e5b;
    border-right: solid 1px #222026; }
  .eurobonds-computations__form {
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    padding: 0 15px; }
    @media (min-width: 768px) {
      .eurobonds-computations__form {
        flex-flow: row; } }
    @media (min-width: 1218px) {
      .eurobonds-computations__form {
        padding: 0; } }
    .eurobonds-computations__form-label {
      margin-bottom: 8px; }
    .eurobonds-computations__form-group {
      display: flex;
      flex-flow: column;
      margin-right: 10px;
      margin-bottom: 8px; }
  .eurobonds-computations__select {
    font-size: 16px;
    padding: 14px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    border: 1px solid #7c7c7c; }
    .eurobonds-computations__select:after {
      color: rgba(0, 0, 0, 0.6); }
  .eurobonds-computations__amount {
    align-self: flex-start;
    font-size: 16px;
    padding: 15px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #7c7c7c; }
  .eurobonds-computations__btn {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f42815;
    border-radius: 3px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    height: 51px;
    padding: 15px 34px;
    background: #a92d24;
    background: rgba(225, 49, 33, 0.7);
    color: #fff;
    text-shadow: none; }
    @media (min-width: 768px) {
      .eurobonds-computations__btn {
        margin-top: 17px;
        align-self: center; } }
  .eurobonds-computations__tools {
    display: flex;
    flex-flow: column; }
    @media (min-width: 768px) {
      .eurobonds-computations__tools {
        flex-flow: row; } }
  .eurobonds-computations__link {
    border: 1px solid #7c7c7c;
    font-size: em(18);
    height: 52px;
    padding: 12px 0 0 20px;
    border-radius: 3px;
    margin: 0 15px;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .eurobonds-computations__link {
        min-width: 240px;
        margin-bottom: 0; } }
    .eurobonds-computations__link img {
      margin-right: 20px; }
  .eurobonds-computations__delete-btn {
    position: absolute;
    right: 10px;
    bottom: 30px;
    border: 0;
    z-index: 1;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 52px;
    width: 52px;
    background-color: #c12f32;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    text-align: center; }
    @media (min-width: 768px) {
      .eurobonds-computations__delete-btn {
        bottom: 0; } }

.computation-option {
  font-size: em(16);
  color: rgba(0, 0, 0, 0.5); }
  .computation-option:hover {
    color: black; }

.selectric-eurobonds-computations__select {
  width: 100%; }
  @media (min-width: 768px) {
    .selectric-eurobonds-computations__select {
      width: 250px; } }

.sort-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 0;
  height: 0; }
  .sort-icon--asc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 9px;
    border-bottom: 5px solid gray; }
  .sort-icon--desc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid gray; }
  .sort-icon--active {
    border-bottom-color: red;
    border-top-color: red; }
